
@{
    ViewBag.Title = "About";
}

<section>
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row">
            <!-- .col-md-12 -->
            <div class="col-md-12">
                <!-- Team introduction text -->
                <!-- .row -->
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="text-uppercase text-primary wow fadeInDown text-center" data-wow-duration=".8s" data-wow-delay=".2s">Meet our team</h1>
                        <p class="text-center">
                            <i class="text-muted text-capitalize">we beleave in what we do.</i>
                        </p>
                        <div class="text-center">
                            <span class="separator">
                                <i class="icon icon-small iline1-multiple10 text-primary no-margin"></i>
                            </span>
                        </div>
                        <p class="wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".3s">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est.
                        </p>
                    </div>
                </div>
                <!-- /.row -->
                <!--/ Team introduction text -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<section class="pattern-3 no-padding-right">
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row">
            <!-- .col-md-12 -->
            <div class="col-md-12">
                <!-- All team members -->
                <ul class="isotope-team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".9s">
                    <!-- .team-member -->
                    <li class="team-member">
                        <div class="team-body text-center">
                            <img src="/images/team/team-member-1.jpg" alt="member 1" class="img-responsive" />
                            <h2 class="text-primary text-center">John Doe</h2>
                            <em>
                                CEO & Founder
                            </em>
                            <ul class="social">
                                <li><a href="#" class="icon-small iline3-be"></a></li>
                                <li><a href="#" class="icon-small iline3-facebook27"></a></li>
                                <li><a href="#" class="icon-small iline3-instagram4"></a></li>
                                <li><a href="#" class="icon-small iline3-twitter19"></a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- ./team-post -->
                    <!-- .team-member -->
                    <li class="team-member">
                        <div class="team-body text-center">
                            <img src="/images/team/team-member-2.jpg" alt="member 2" class="img-responsive" />
                            <h2 class="text-success text-center">Jule Doe</h2>
                            <em>
                                Grafik Designer
                            </em>
                            <ul class="social">
                                <li><a href="#" class="icon-small iline3-be"></a></li>
                                <li><a href="#" class="icon-small iline3-facebook27"></a></li>
                                <li><a href="#" class="icon-small iline3-instagram4"></a></li>
                                <li><a href="#" class="icon-small iline3-twitter19"></a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- ./team-member -->
                    <!-- .team-member -->
                    <li class="team-member">
                        <div class="team-body text-center">
                            <img src="/images/team/team-member-3.jpg" alt="member 3" class="img-responsive" />
                            <h2 class="text-primary text-center">Jihn Doe</h2>
                            <em>
                                Web Developer
                            </em>
                            <ul class="social">
                                <li><a href="#" class="icon-small iline3-be"></a></li>
                                <li><a href="#" class="icon-small iline3-facebook27"></a></li>
                                <li><a href="#" class="icon-small iline3-instagram4"></a></li>
                                <li><a href="#" class="icon-small iline3-twitter19"></a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- ./team-member -->
                    <!-- .team-member -->
                    <li class="team-member">
                        <div class="team-body text-center">
                            <img src="/images/team/team-member-4.jpg" alt="member 4" class="img-responsive" />
                            <h2 class="text-primary text-center">Jane Doe</h2>
                            <em>
                                Web Developer
                            </em>
                            <ul class="social">
                                <li><a href="#" class="icon-small iline3-be"></a></li>
                                <li><a href="#" class="icon-small iline3-facebook27"></a></li>
                                <li><a href="#" class="icon-small iline3-instagram4"></a></li>
                                <li><a href="#" class="icon-small iline3-twitter19"></a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- ./team-member -->
                </ul>
                <!-- /All team members -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

