@{
    ViewBag.Title = "Home Page";
}

<section class="slider-content">
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row">
            <!-- .col-md-12 -->
            <div class="col-md-12">
                <!-- .row -->
                <div class="row">
                    <div class="col-xs-12 no-padding">
                        <div id="main-carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#main-carousel" data-slide-to="1"></li>
                                <li data-target="#main-carousel" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <!-- img src="assets/images/slider/Slider-1.png" alt="first slider image" /-->
                                    <div class="carousel-caption">
                                        <span class="caption-head" data-animation="animated bounceInLeft"><span class="text-success">HTML5</span> & <span class="text-primary">Wordpress</span> versions</span>
                                        <p class="text-center" data-animation="animated bounceInRight">are now ready for download.</p>
                                        <a class="btn btn-primary btn-lg" data-animation="animated zoomInUp" href="#">Get it now</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <!--img src="assets/images/slider/Slider-2.png" alt="second slider image" / -->
                                    <div class="carousel-caption">
                                        <span class="caption-head" data-animation="animated bounceInDown">A <span class="text-success">Joomla</span> version</span><br />
                                        <p class="text-center" data-animation="animated bounceInUp">will be available soon</p>
                                        <a class="btn btn-success btn-lg" data-animation="animated zoomInRight" href="#">Stay focus</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <!-- img src="assets/images/slider/Slider-3.png" alt="thirth slider image" / -->
                                    <div class="carousel-caption">
                                        <span class="caption-head" data-animation="animated zoomInLeft">Blog, Design & <span class="text-danger">Fun</span></span><br />
                                        <p class="text-center" data-animation="animated flipInX">Lorem ipsum dolor sit amet, consectetur adipisicing elit et dolore magna aliqua.</p>
                                        <a class="btn btn-danger btn-lg" data-animation="animated lightSpeedIn" href="#">Continue reading</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-inner">
                                <div class="boxed">
                                    <h1 class="text-primary wow fadeInDown text-uppercase" data-wow-duration="1.8s" data-wow-delay=".2s">Fallone</h1>
                                    <span class="line-sep-green"></span>
                                    <h3 class="text-white text-uppercase wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                        Awesome website theme based on <span class="text-success">Bootstrap</span> v.3.3.5.
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /Image Slider -->